<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <div class="flex-container">
        <div class = "container">
            <h1>THE LIST</h1>
            <p>Enter your email to join <strong><%=data%></strong>
            others on the list.</p>
            <form method="POST" action="/register">
                <input type="text" name="email" class="form" placeholder="Enter Your Email">
                <button>Joing Now</button>
            </form>
        </div>
    </div>
</body>